<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RoomDao">
  <resultMap id="BaseResultMap" type="com.entity.Room">
    <id column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="room_img" jdbcType="VARCHAR" property="roomImg" />
    <result column="room_price" jdbcType="VARCHAR" property="roomPrice" />
    <result column="room_info" jdbcType="VARCHAR" property="roomInfo" />
    <result column="room_add" jdbcType="VARCHAR" property="roomAdd" />
    <result column="room_remark" jdbcType="VARCHAR" property="roomRemark" />
    <result column="user" jdbcType="INTEGER" property="user" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="style" jdbcType="INTEGER" property="style" />
    <result column="room_state" jdbcType="BIT" property="roomState" />
    <result column="room_flag" jdbcType="BIT" property="roomFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    room_id, room_img, room_price, room_info, room_add, room_remark, user, area, style, 
    room_state, room_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room
    where room_id = #{roomId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room
    where room_id = #{roomId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Room">
    insert into room (room_id, room_img, room_price, 
      room_info, room_add, room_remark, 
      user, area, style, 
      room_state, room_flag)
    values (#{roomId,jdbcType=INTEGER}, #{roomImg,jdbcType=VARCHAR}, #{roomPrice,jdbcType=VARCHAR}, 
      #{roomInfo,jdbcType=VARCHAR}, #{roomAdd,jdbcType=VARCHAR}, #{roomRemark,jdbcType=VARCHAR}, 
      #{user,jdbcType=INTEGER}, #{area,jdbcType=INTEGER}, #{style,jdbcType=INTEGER}, 
      #{roomState,jdbcType=BIT}, #{roomFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Room">
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        room_id,
      </if>
      <if test="roomImg != null">
        room_img,
      </if>
      <if test="roomPrice != null">
        room_price,
      </if>
      <if test="roomInfo != null">
        room_info,
      </if>
      <if test="roomAdd != null">
        room_add,
      </if>
      <if test="roomRemark != null">
        room_remark,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="style != null">
        style,
      </if>
      <if test="roomState != null">
        room_state,
      </if>
      <if test="roomFlag != null">
        room_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="roomImg != null">
        #{roomImg,jdbcType=VARCHAR},
      </if>
      <if test="roomPrice != null">
        #{roomPrice,jdbcType=VARCHAR},
      </if>
      <if test="roomInfo != null">
        #{roomInfo,jdbcType=VARCHAR},
      </if>
      <if test="roomAdd != null">
        #{roomAdd,jdbcType=VARCHAR},
      </if>
      <if test="roomRemark != null">
        #{roomRemark,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        #{user,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        #{area,jdbcType=INTEGER},
      </if>
      <if test="style != null">
        #{style,jdbcType=INTEGER},
      </if>
      <if test="roomState != null">
        #{roomState,jdbcType=BIT},
      </if>
      <if test="roomFlag != null">
        #{roomFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Room">
    update room
    <set>
      <if test="roomImg != null">
        room_img = #{roomImg,jdbcType=VARCHAR},
      </if>
      <if test="roomPrice != null">
        room_price = #{roomPrice,jdbcType=VARCHAR},
      </if>
      <if test="roomInfo != null">
        room_info = #{roomInfo,jdbcType=VARCHAR},
      </if>
      <if test="roomAdd != null">
        room_add = #{roomAdd,jdbcType=VARCHAR},
      </if>
      <if test="roomRemark != null">
        room_remark = #{roomRemark,jdbcType=VARCHAR},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=INTEGER},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="style != null">
        style = #{style,jdbcType=INTEGER},
      </if>
      <if test="roomState != null">
        room_state = #{roomState,jdbcType=BIT},
      </if>
      <if test="roomFlag != null">
        room_flag = #{roomFlag,jdbcType=BIT},
      </if>
    </set>
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Room">
    update room
    set room_img = #{roomImg,jdbcType=VARCHAR},
      room_price = #{roomPrice,jdbcType=VARCHAR},
      room_info = #{roomInfo,jdbcType=VARCHAR},
      room_add = #{roomAdd,jdbcType=VARCHAR},
      room_remark = #{roomRemark,jdbcType=VARCHAR},
      user = #{user,jdbcType=INTEGER},
      area = #{area,jdbcType=INTEGER},
      style = #{style,jdbcType=INTEGER},
      room_state = #{roomState,jdbcType=BIT},
      room_flag = #{roomFlag,jdbcType=BIT}
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
     <select id="findAll"  parameterType="map"  resultMap="BaseResultMap">
		select * from room r 
	</select>

    <select id="findByArea"  parameterType="map" resultType="com.entity.Room" resultMap="BaseResultMap">
	  SELECT t1.* FROM room t1,area t2 WHERE t1.area = t2.area_id AND t2.area_name = #{areaName}
	</select>
	
	<select id="findByStyle"  parameterType="map" resultType="com.entity.Room" resultMap="BaseResultMap">
	  SELECT t1.* FROM room t1,style t2 WHERE t1.style = t2.style_id AND t2.style_name = #{styleName}
	</select>
	
	<select id="findByAreaAndStyle"  parameterType="map" resultType="com.entity.Room" resultMap="BaseResultMap">
	  SELECT * FROM room t1,area t2,style t3 WHERE t1.area=t2.area_id AND t1.style=t3.style_id 
	  and t2.area_name = #{areaName} and t3.style_name = #{styleName}
	</select>
</mapper>