<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.StyleDao">
  <resultMap id="BaseResultMap" type="com.entity.Style">
    <id column="style_id" jdbcType="INTEGER" property="styleId" />
    <result column="style_name" jdbcType="VARCHAR" property="styleName" />
    <result column="style_remark" jdbcType="VARCHAR" property="styleRemark" />
  </resultMap>
  <sql id="Base_Column_List">
    style_id, style_name, style_remark, room
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from style
    where style_id = #{styleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from style
    where style_id = #{styleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Style">
    insert into style (style_id, style_name, style_remark)
    values (#{styleId,jdbcType=INTEGER}, #{styleName,jdbcType=VARCHAR}, #{styleRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Style">
    insert into style
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="styleId != null">
        style_id,
      </if>
      <if test="styleName != null">
        style_name,
      </if>
      <if test="styleRemark != null">
        style_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="styleId != null">
        #{styleId,jdbcType=INTEGER},
      </if>
      <if test="styleName != null">
        #{styleName,jdbcType=VARCHAR},
      </if>
      <if test="styleRemark != null">
        #{styleRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Style">
    update style
    <set>
      <if test="styleName != null">
        style_name = #{styleName,jdbcType=VARCHAR},
      </if>
      <if test="styleRemark != null">
        style_remark = #{styleRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where style_id = #{styleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Style">
    update style
    set style_name = #{styleName,jdbcType=VARCHAR},
      style_remark = #{styleRemark,jdbcType=VARCHAR}
    where style_id = #{styleId,jdbcType=INTEGER}
  </update>
  <select id="findAll"  parameterType="map"   resultMap="BaseResultMap">
		select * from style s
	</select>
	
	 <select id="findByRoomId"  parameterType="map"   resultMap="BaseResultMap">
		select * from style s,room r where r.style = s.style_id and r.room_id = #{roomId}
	</select>
	
	 <select id="findByStyleName"  parameterType="map"   resultMap="BaseResultMap">
		select * from style s where s.style_name = #{styleName}
	</select>
  
    <select id="findByStyleId"  parameterType="map"   resultMap="BaseResultMap">
		select * from style s where s.style_id = #{styleId}
	</select>
</mapper>